body {
  font-family: "proxima-nova","Avenir","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  color: #222;
}

h1 {
  font-size: 1.5rem;
  font-weight: 100;
  margin-bottom: 0.75rem;
}

h2 {
  font-size: 1.3rem;
  font-weight: 100;
  margin-bottom: 0.3rem;
}

h2 {
  font-size: 1.1rem;
  font-weight: 100;
  margin-bottom: 0.5rem;
}

b {
  font-weight: 600;
}

.links-wrapper ul {
  margin-left: 15px;
  margin-bottom: 15px;
}

.links-wrapper li {
  margin-bottom: 5px;
}

.deemphasized {
  color: rgb(100,100,100);
  font-style: italic;
}

.std-box {
  box-sizing: border-box;
  padding: 15px;
}

.links-wrapper {
  position: absolute;
  top: 0;
  width: 300px;
  left: 0;
  bottom: 0;
  overflow: auto;
  border-right: 1px solid rgb(240,240,240);
}

.links-wrapper > ul {
  margin-left: 0px;
}

.styles-wrapper {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 300px;
  right: 0;
  bottom: 0;
  overflow: auto;
}

.component-usage-row {
  padding: 40px 20px;
  padding-top: 20px;
  border-bottom: 1px solid rgb(240,240,240);
}

.hljs {
  margin: 20px 0px;
}

.component-usage-title {
  font-size: 32px;
  margin-bottom: 25px;
}

.markdown-body {
  padding: 20px;
  border-radius: 3px;
  background: rgb(240,240,240);
}
